.footer{
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: #caaea5;

    span{
        margin: 15px 0px;
    }

    div{
        span{
            font-size: 20px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    span{
        @media (max-width: 565px) {
            font-size: 0.9rem;
        }
    }
}